<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>For Outlets</h1>
<form action="/bytes/outlets/create" method="get">
    <p>Name: <input type="text" name="name" value="name of outlet"></p>
    <p>Min serve Time: <input type="text" name="serve" value="minimum serving time"></p>
    <p>Outlet ID: <input type="text" name="out_id" value="outlet_id"></p>
    <p>Cost for 2: <input type="text" name="cft" value="cost for 2"></p>
    <p><button type="submit">SUBMIT</button> </p>
</form>
</body>
</html>