<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>For Outlets Info</h1>
<form action="/bytes/outlets/create_info" method="get">
    <p>Item Name: <input type="text" name="name" value="name of item"></p>
    <p>Item ID: <input type="text" name="item_id" value="Item ID"></p>
    <p>Outlet ID: <input type="text" name="out_id" value="outlet_id"></p>
    <p>Rate of Item: <input type="text" name="rate" value="cost for 2"></p>
    <p><button type="submit">SUBMIT</button> </p>
</form>
</body>
</html>